.button {
	cursor: pointer;
	border-radius: 4px;
	padding: 10px 20px;
	border: none;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	&_primary {
		background: $colors-primary;
		color: $colors---white;
		&:hover {
			background: $colors---primary-hover;
		}
		&:active {
			background: $colors---primary-active;
		}
		&:focus {
			outline: 2px solid $colors---gray;
		}
	}
	&_secondary {
		background: $colors---white;
		outline: 2px solid $colors-primary;
		color: $colors-primary;
		&:hover {
			background: rgba(110, 65, 226, 0.04);
		}
		&:active {
			background: rgba(110, 65, 226, 0.16);
		}
		&:focus {
			outline: 2px solid $colors---gray;
		}
	}
}
