@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './vars.scss';
@import './fileUpload.scss';
@import './input.scss';
@import './button.scss';
@import './form.scss';
@import './textarea.scss';
@import './select.scss';
@import './color.scss';
@import './checkbox.scss';

* {
	box-sizing: border-box;
}
body {
	font-family: $roboto;
	background: $colors---graym;
}
.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 15px;
}
.text-primary {
	color: $colors-primary;
}
