.input {
	width: 100%;
	padding: 30px 20px 10px 20px;
	font-weight: 400;
	font-size: 16px;
	color: $colors---black;
	border-radius: 4px;
	box-shadow: 0 4px 16px 0 rgba(51, 51, 51, 0.08),
		0 4px 4px 0 rgba(51, 51, 51, 0.04);
	background: $colors---white;
	border: none;
	&:hover {
		box-shadow: 0 4px 56px 0 rgba(51, 51, 51, 0.16),
			0 4px 4px 0 rgba(51, 51, 51, 0.04);
	}
	&[aria-invalid] {
		box-shadow: 0 4px 12px 0 rgba(255, 195, 195, 0.24),
			0 4px 4px 0 rgba(255, 195, 195, 0.04);
		background: $colors---red-girl;
	}

	&:focus {
		outline: none;
		box-shadow: 0 4px 24px 0 rgba(51, 51, 51, 0.24),
			0 4px 4px 0 rgba(51, 51, 51, 0.04);
	}
	&_label {
		top: 10px;
		left: 20px;
		position: absolute;
		font-size: 13px;
		color: $colors---gray;
	}
	&_wrapper {
		position: relative;
	}
	&.error {
		background: #000;
	}
}
